.logo-wrapper {
  @include grid-media($small-grid) {
    @include grid-column(12);
  }

  @include grid-media($medium-grid) {
    @include grid-column(8);
    @include grid-push(2);
  }
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 650px;
}
