.nav-bar-item {
  padding: 0px 15px 2px 15px;
  list-style: none;
  border-bottom: 2px black solid;
  margin: 0px 10px 15px 10px;

  &.coming-soon:hover {
    &:after {
      //Coming soon
    }
  }

  &:hover, &.active {
   border: none;
  }

  @include grid-media($x-small-grid) {
    display: inline;
    &:after {
      content: "\A";
      white-space: pre;
    }
    .nav-bar-item-link {
      display: inline-block;
      padding-top: 15px;
    }
  }

  @include grid-media($medium-grid) {
    display: inline-block;
  }

  .nav-bar-item-link {
    color: black;
    text-decoration: none;
  }
}
