.archive-container {
  @include grid-media($x-small-grid) {
    @include grid-column(6);
    @include grid-push(3);
  }

  text-align: center;

  .archive-list {
    list-style-type: none;
  }

  .archive-item {
    display: block;
    margin:15px 0px;

    .archive-item-link {
      color: black;
      text-decoration: none;
    }

    .archive-item-link:hover {
      text-decoration: underline;
    }
  }
}
