@font-face{
    font-family: 'SeanHand';
    src: font-url("Hand_Of_Sean_Demo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

///

$x-large-grid: (
  media: 1200px
);

$large-grid: (
  media: 1020px
);

$medium-grid: (
  media: 768px
);

$small-grid: (
  media: 480px
);

$x-small-grid: (
  media: 0px
);

///

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: SeanHand, sans-serif;
  background-image: image-url('/files/images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: 1400px;
  background-position: center top;
  background-attachment: fixed;
}

.container {
  padding-top: 20px;
  @include container();
}

.row {
  width: 100%;
  @include clearfix();
}

/// Sticky Footer - https://css-tricks.com/couple-takes-sticky-footer/
html, body {
  height: 100%;
  margin: 0;
}
.container {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -0;
}
.footer,
.push {
  height: 65px;
}

// http://stackoverflow.com/a/8738200/3347300
#warning-message { display: none; }
@media only screen and (orientation:portrait){
  // .container { display:none; }
  // .footer { display:none; }
  #warning-message { display:none; }
}
@media only screen and (orientation:landscape){
  #warning-message { display:none; }
}
