<div class="container">
  <div class="logo-wrapper row">
    <%= image_tag '/files/images/logo.jpeg', class: 'logo'%>
  </div>
  <nav class="nav-bar row">
    <ul>
      <li class="nav-bar-item"><a class="nav-bar-item-link" href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming Soon!">about</a></li>
      <li class="nav-bar-item"><a class="nav-bar-item-link" href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming Soon!">archives</a></li>
      <li class="nav-bar-item active"><a class="nav-bar-item-link" ui-sref="comics">comics</a></li>
      <li class="nav-bar-item"><a class="nav-bar-item-link" href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming Soon!">videos</a></li>
      <li class="nav-bar-item"><a class="nav-bar-item-link" href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming Soon!">blog</a></li>
    </ul>
  </nav>
</div>
