.footer {
  @include grid-media($x-small-grid) {
    @include grid-column(12);
  }
    @include grid-media($medium-grid) {
      @include grid-column(6);
      @include grid-push(3);
    }
  @include grid-media($x-large-grid) {
    @include grid-column(5);
    @include grid-push(3.5);
  }

  .footer-row {
    margin-bottom: 20px;
  }

  .footer-detail {
    float: left;
  }

  .footer-detail:nth-child(2) {
    float: right;
  }
}
