.footer {
  @include grid-media($x-small-grid) {
    @include grid-column(12);
  }
  @include grid-media($medium-grid) {
    @include grid-column(8);
    @include grid-push(2);
  }

  .footer-row {
    margin-bottom: 20px;
  }

  .footer-detail {
    float: left;
  }

  .footer-detail:nth-child(2) {
    float: right;
  }
}
