<!DOCTYPE html>
<html ng-app="frumpusKrumpus">
  <head>
    <title>FrumpusKrumpus</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id="warning-message">This site is only viewable in portrait mode</div>

    <footer class="footer">
      <div class="row footer-row">
        <span class="footer-detail">&copy; Copyright 2017</span>
        <span class="footer-detail">By Jacob Silver</span>
      </div>
      <div class="row footer-row">
        <span class="footer-detail">Website Designed by CJ Douglas</span>
      </div>
    </footer>
  </body>
</html>
